# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
venv311/

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Builds finais
*.dmg
*.app

# Outputs gerados
output/
